<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.png">
    <title>K-Means</title>

    <link rel="stylesheet" href="css/style.css">

    <!-- LIBRARIES: -->
    <!-- <script src="lib/angular.min.js"></script> -->
    <script src="lib/angular.js"></script>
    <script src="lib/d3.v3.js"></script>

    <!-- main controller -->
    <script src="js/driver.js"></script>

    <!-- input components -->
    <script src="js/components/guiInput.js"></script>
    <script src="js/components/csvInput.js"></script>
    <script src="js/customOnChange.js"></script>


    <!-- visualizations -->
    <script src="js/components/parallelCoordinates.js"></script>
    <script src="js/components/scatterplot.js"></script>
</head>

<body ng-app="theDriver">

    <!-- header for all pages: restart -->
    <div class="bar" id="restartheader">
        <button onClick="window.location.reload();">start over</button>
    </div><br />

    <div id="page" ng-controller="mainController">

        <!-- input select stage: which input type to use -->
        <div id="inputSelect" ng-show="visibilities.inputselect">
            <button ng-click="inputSelect(true)" style="background-color: rgb(134, 205, 218)">GUI input</button>
            <button ng-click="inputSelect(false)" style="background-color: rgb(186, 218, 134)">CSV input</button>
        </div>

        <!-- input stage -->
        <div id="inputStage" ng-show="visibilities.input.gui || visibilities.input.csv">


            <div id="GUIInput" ng-show="visibilities.input.gui">

                <!-- two-way bind the data from controller into the gui-input controller -->
                <gui-input data="data" nummeans="nummeans"></gui-input>

            </div>

            <div id="CSVInput" ng-show="visibilities.input.csv">
                <!-- two-way bind the data from controller into the csv-input controller -->
                <csv-input data="data" , quantfields="meanDimensions"></csv-input>
            </div>
            <!-- buttons for both inputs: number of means, run algorithm-->
            <table>
                <tr>
                    <td class="inputpair_label">Number of means:</td>
                    <td class="inputpair_input"> <input type="number" ng-model="nummeans.cnt"></td>
                </tr>
            </table>
            <!-- go to the visualizations stage, only usable if there is data -->
            <button ng-show="data.length > 0" ng-click="goToVisualizations(); updateVisualizations()">Next</button>
        </div>

        <!-- visualization stage -->
        <div id="visualizationStage" ng-show=visibilities.visualizations>
            <table>
                <thead style="text-align: center;">
                    <!-- top controls -->
                    <tr>
                        <th colspan="3">
                            <button style="background: rgb(158, 255, 138)" ng-click="kmeans()">Run until converged</button>
                            <button style="background: rgb(255, 254, 138)" ng-click="kmeanStep()">Step</button>
                            <button style="background: rgb(255, 138, 138)" ng-click="goToVisualizations(); updateVisualizations()">Reset Means</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!-- left col -->
                            <div id="consoleBody">
                                <!-- algorithm logs get inserted here -->
                            </div>
                        </td>
                        <td>
                            <!-- middle col -->
                            <parallel-coordinates data="data" displaymode="displaytoggle" means="means" fields="meanDimensions"></parallel-coordinates>
                        </td>
                        <td>
                            <!-- right col -->
                            <scatterplot data="data" displaymode="displaytoggle" means="means" , fields="meanDimensions"></scatterplot>
                        </td>
                    </tr>
                </tbody>
                <!-- <tfoot>
                <tr>
                <td colspan="3">
                <div class="bar" id="pcinfo">
                Drag axes to the left on the Parallel Coordinates chart to set axes of the scatterplot.
            </div>
        </td>
    </tr>
</tfoot> -->
            </table>
        </div>
</body>

</html>
