/*----------------------------------------------------------------*/
/*---------------------D3 STYLE STUFF-----------------------------*/
/*----------------------------------------------------------------*/

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  /*stroke: steelblue;*/
}

.meanline path {
    fill: none;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
/*----------------------------------------------------------------*/
/*-----------------------HEADER STUFF-----------------------------*/
/*----------------------------------------------------------------*/

.bar {
    border-radius: 20px;
}

#pcinfo {
    padding: 2px;
    padding-left: 5px;
    background: rgb(83, 156, 71);
    border: 2px solid rgb(66, 122, 56);
}

#restartheader {
    background: rgb(224, 206, 135);
    /*border-radius: 20px;*/
    border: 2px solid rgb(207, 177, 103);
}

#restartheader button {
    border-radius: 20px;
    font-weight: bolder;
    margin: 2px;
    background: rgb(208, 189, 91);
    border: 2px outset rgba(179, 162, 162, 0.79);
}


/*----------------------------------------------------------------*/
/*--------------------STAGE FORMAT STUFF--------------------------*/
/*----------------------------------------------------------------*/

/*input select stage: which input type to use*/
#inputSelect {
    text-align: center;
}
#inputSelect button {
    margin-top: 30vh;
    padding: 15px 32px;
    border-radius: 5px;
    border: 2px outset rgba(179, 162, 162, 0.79);
    font-weight: bolder;
    font-size: 15px;
}

/*CSV or GUI input stage*/
#inputStage {
    text-align: center;
}

#inputStage input, button {
    padding: 5px;
    border-radius: 5px
}

#inputStage button {
    background: rgb(76, 175, 80);
    border: none;
}

/*label-input pair of TDs*/
.inputpair_label {
    width: 50vw;

    font-size: 14px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: right;
}
.inputpair_input {
    width: 50vw;

    text-align: left;
}

/*----------------------------------------------------------------*/
/*-------------------TOGGLE SWITCH STUFF--------------------------*/
/*----------------------------------------------------------------*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/*table, tr, td {
    border: 1px solid black;
}*/

#consoleBody {
    border: 5px inset rgb(232, 232, 232);
    background: rgb(241, 240, 240);
    height: 83.5vh;
    width: 150px;
    overflow-y: auto;
}

#datatable {
    margin: 0px auto;
}

#fileinput {
    border: 2px ridge rgb(164, 236, 120);
    background: rgb(192, 235, 167);
}

#stats div {
    padding: 5px;
    /*border: 1px solid rgb(170, 170, 170);*/
}
